
*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font-family: 'Montserrat', sans-serif;
  font-size: 62.5%;
  font-size: 1rem;
  height: 100%;
  overflow: hidden;
  background: #000;
}
@media (max-width: 767px) {
  html, body {
    font-size: 80%;
  }
}
@media (max-width: 640px) {
  html, body {
    font-size: 60%;
  }
}
@media (max-width: 480px) {
  html, body {
    font-size: 40%;
  }
}

.inner, .nav-panel ul .nav-btn:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
}

.scene {
  width: 100%;
  height: 100%;
}

.page {
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform .7s, opacity .7s;
  will-change: transform, opacity;
  transform: scale(0.8);
  opacity: 0.4;
}
.page:nth-child(1) .left {
  background-image: url("atuin.jpg");
}
.page:nth-child(1) .right {
  background-color: black;
}
.page:nth-child(2) .left {
  background-color: black;
}
.page:nth-child(2) .right {
  background-image: url("uni.jpg");
}
.page:nth-child(3) .left {
  background-image: url("mages.png");
}
.page:nth-child(3) .right {
  background-color: black;
}
.page:nth-child(4) .left {
  background-color: black;
}
.page:nth-child(4) .right {
  background-image: url("library.jpg");
}
.page:nth-child(5) .left {
  background-image: url("https://text2image.com/user_images/202105/text2image_Z1409523_20210503_160204.png");
}
.page:nth-child(5) .right {
  background-image: url("https://text2image.com/user_images/202105/text2image_B2508163_20210503_160458.png");
}
.page:nth-child(6) .left {
  background-color: black;
}
.page:nth-child(6) .right {
  background-image: url("books.jpg");
}
.page:nth-child(7) .left {
  background-image: url("nosic.jpg");
}
.page:nth-child(7) .right {
  background-color: black;
}
.page:nth-child(8) .left {
  background-color: black;
  }
.page:nth-child(8) .right {
  background-image: url("misto.png");
}
.page:nth-child(9) .left {
  background-image: url("sova.png");
}
.page:nth-child(9) .right {
  background-color: black;
}
.page:nth-child(10) .left {
  background-color: black;
}
.page:nth-child(10) .right {
  background-image: url("knihovnik.png");
}
.page.active {
  opacity: 1;
  transform: scale(1);
}
.page.active .half {
  transition: transform .7s ease-out;
}
.page.small {
  transform: scale(1);
  opacity: 0;
}
.page.small .left {
  transform: translateX(-100%);
}
.page.small .right {
  transform: translateX(100%);
}
.page.previous {
  opacity: 1 !important;
}
.page:nth-child(1) {
  z-index: 9;
}
.page:nth-child(2) {
  z-index: 8;
}
.page:nth-child(3) {
  z-index: 7;
}
.page:nth-child(4) {
  z-index: 6;
}
.page:nth-child(5) {
  z-index: 5;
}
.page:nth-child(6) {
  z-index: 4;
}
.page:nth-child(7) {
  z-index: 3;
}
.page:nth-child(8) {
  z-index: 2;
}
.page:nth-child(9) {
  z-index: 1;
}
.page:nth-child(10) {
  z-index: 0;
}

.half {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  background-size: cover;
  transition: transform .7s ease-in;
  will-change: transform;
}
.half.left {
  left: 0;
}
.half.right {
  left: 50%;
}
.half.withText:after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  z-index: 10;
}

.heading {
  position: absolute;
  z-index: 500;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-size: 3.5rem;
  color: #fff;
  font-family: 'Montserrat';
}

.nav-panel {
  position: fixed;
  top: 50%;
  right: 2%;
  transform: translateY(-50%);
  z-index: 1000;
  transition: opacity 0.5s, transform 0.5s cubic-bezier(0.57, 1.2, 0.68, 2.6);
  will-change: transform, opacity;
}
.nav-panel.invisible {
  opacity: 0;
  transform: translateY(-50%) scale(0.5);
}
.nav-panel ul {
  list-style-type: none;
}
.nav-panel ul .nav-btn {
  position: relative;
  overflow: hidden;
  width: 1rem;
  height: 1rem;
  margin-bottom: 0.5rem;
  border: 0.12rem solid #fff;
  border-radius: 50%;
  cursor: pointer;
  transition: border-color, transform 0.3s;
  will-change: border-color, transform;
}
.nav-panel ul .nav-btn:after {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transform: translateX(-50%) translateY(-50%) scale(0.3);
  background-color: #fff;
  opacity: 0;
  transition: transform, opacity 0.3s;
  will-change: transform, opacity;
}
.nav-panel ul .nav-btn.active:after, .nav-panel ul .nav-btn:hover:after {
  transform: translateX(-50%) translateY(-50%) scale(0.7);
  opacity: 1;
}
.nav-panel ul .nav-btn:hover {
  border-color: yellow;
  transform: scale(1.2);
}
.nav-panel ul .nav-btn:hover:after {
  background-color: yellow;
}
.nav-panel .scroll-btn {
  position: absolute;
  left: 0;
  width: 1rem;
  height: 1rem;
  border: 0.2rem solid #fff;
  border-left: none;
  border-bottom: none;
  cursor: pointer;
  transform-origin: 50% 50%;
  transition: border-color 0.3s;
}
.nav-panel .scroll-btn.up {
  top: -1.6rem;
  transform: rotate(-45deg);
}
.nav-panel .scroll-btn.down {
  bottom: -1.2rem;
  transform: rotate(135deg);
}
.nav-panel .scroll-btn:hover {
  border-color: yellow;
}

